* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    overflow-x: hidden;
    height: 100%;
}

body {
    font-family: 'Funnel Display', 'Gothic A1', sans-serif !important;
}

header{
    display: flex;
    justify-content: center;
    background-color: #ff1f22;
    position: sticky;
    top: 0;
    z-index: 10000;
}

.container{
    width: 1100px;
    height: 75px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    justify-content: center;
    text-align: center;
}

nav ul li{
    list-style: none;
    user-select: none;
    padding: 5px 0px 5px 50px;
    cursor: pointer;
    transition: transform 0.3s;
}

nav ul li:hover{
    color: #63BFD8;
    transform: scale(1.1);
}

.menuBox{
    padding: 0 20px;
}

.row{
    width: 1100px;
    display: flex;
    margin: 0 auto;
}

.itemBox{
    padding-top: 20px;
}

.intro{
    position: relative;
    height: 1150px;
    background-image: linear-gradient(rgb(99, 191, 216, 0.3), #ffffff00 80%);
}

.handAi{
    position: absolute;
    top: 540px;

    right: 5%; 
    width: 35%;
    max-width: 450px;
}

.vision3{
    position: absolute;
    top: 500px;
    left: 2%;
    width: 40%;
    max-width: 500px;
}

.main-about{
    height: 1460px;
}

.aboutBox {
    position: relative;
    width: 1100px;
    margin: 0 auto;
    height: 600px;
    right: 20px;
}

.aboutBox .bgImg {
    position: absolute;
    width: 96%;
    height: auto;
    margin-left: 20px;
}

button{
    background-color: #ff1f22;
    padding: 10px;
    color: white;
    border: none;
    font-family: 'Gothic A1', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}


/* 단어 */
.aiSlop{
    position: absolute;
    top: -15px;
    left: 630px;
}

.filter{
    position: absolute;
    top: 155px;
    left: 810px;
}

.phobia{
    position: absolute;
    top: 348px;
    left: 185px;
}

.conflict{
    position: absolute;
    top: 510px;
    left: 580px;
}

.people{
    position: absolute;
    top: 40px;
    left: 0px;
}

.word-set { position: absolute; z-index: 50; }

.word-set .desc-box {
    position: absolute;
    top: 40px;
    width: 450px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.7);
    border: 2px solid #ff1f22;
    backdrop-filter: blur(5px); 
    word-break: keep-all;
    
    opacity: 0;
    visibility: hidden;
    transform: scale(0); 
    
    transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1), opacity 0.3s ease, visibility 0.3s ease;
}

.word-set.active .desc-box {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.word-btn {
    cursor: pointer;
}

.word-btn:hover {
    scale: 110%;
}

/* 단어 나타나는 방향 */
.word-set.dir-br .desc-box { left: 0; transform-origin: top left; } 
.word-set.dir-bl .desc-box { right: 0; transform-origin: top right; }

@keyframes blink-effect {
    30% {
    opacity: 100%;
    }
    31% {
    opacity: 0%;
    }
    40% {
        opacity: 0%;
    }
    41% {
        opacity: 100%;
    }
    60%{
        opacity: 100%;
    }
    61%{
        opacity: 0%;
    }
    90%{
        opacity: 0%;
    }
    91%{
        opacity: 100%;
    }
}

.human{
    position: absolute;
    top: 60px;
    left: 71px;
    animation: blink-effect 2s ease-in-out infinite;
}

@keyframes float {
    0% {
    transform: translate(-2px, -2px);
    }
    50% {
    transform: translate(0, -6px);
    }
    80% {
    transform: translate(2px, 0);
    }
    100% {
    transform: translate(-2px, -2px);
    }
}

@keyframes flick {
    50%{
        opacity: 0%;
    }
}

.line{
    position: absolute;
    top: 5px;
    left: 200px;
    scale: 102%;
    animation: float 2s ease-in-out infinite;
}

.lineOne{
    position: absolute;
    top: 185px;
    left: 285px;
    scale: 102%;
    animation: flick 1.5s ease-in-out infinite;
}

.lineTwo{
    position: absolute;
    top: 0px;
    left: 198px;
    scale: 102%;
    animation: flick 2s ease-in-out infinite;
}

.lineThree{
    position: absolute;
    top: 120px;
    left: 200px;
    scale: 102%;
    animation: flick 1.8s ease-in-out infinite;
}

.vision{
    position: absolute;
    top: 760px;
    right: 0;
}

.main-why{
    height: 1260px;
}

.main-example{
    height: 1950px;
}

.exBox {
    position: relative;
    width: 1100px;     
    margin: 0 auto;
    height: 1100px;
}

.exBox .bgImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 96%;          
    height: auto;
    margin: 0;            
}

.card-wrapper {
    position: absolute;
    top: 0;
    right: 20px;
    width: 100%;
    height: 100%;
    padding: 100px 50px;
    box-sizing: border-box;
}

@keyframes typing {
    0% {
        height: 0;
        width: 0;
    }
    25% {
        height: 100%;
        width: 100%;
    } 
    100% {
        height: 100%;
        width: 100%;
    } 
}

.typing1{
    position: absolute;
    width: 0;
    overflow: hidden;
    top: 0;
    left: 400px;
    animation: typing steps(500, end) 4s forwards infinite;
}

.line1 { text-align: left; }
.line2 { text-align: center; }
.line3 { text-align: right; }

/* 사례 이미지 크기, 아래 여백 */
.line1 img, .line2 img, .line3 img {
    display: inline-block; 
    width: 200px;
    height: 100%;
}

/* 사례 배치 */
.card-item {
    display: inline-block; 
    width: 200px;    
    height: 278px;      
    margin-bottom: 60px;   
    position: relative;    
    cursor: pointer; 
}

.card-item:hover{
    border: solid 2px #ff1f22;
    scale: 110%;  
    box-shadow: 0px 0px 30px rgba(255, 31, 35, 0.5);
}

/* 사례 버튼 */
.case-btn {
    position: absolute;
    top: 0;
    left: 10;
    z-index: 10;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1000px;                      
    max-height: 85vh;                  
    background-color: #ffffff;
    overflow-y: auto;                  
    border: 2px solid #ff1f22;
    transform: translate(-50%, -45%) scale(0.95); 
    transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}

.modal-overlay.active .modal-content {
    transform: translate(-50%, -50%) scale(1);
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px); 
    z-index: 1000; 
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

/* 오버레이 팝업 큰 틀 */
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1000px;                      
    max-height: 85vh;                  
    background-color: #ffffff;
    overflow-y: auto;                  
    border: 2px solid #ff1f22;
    transform: translate(-50%, -45%) scale(0.95); 
    transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}

.modal-overlay.active .modal-content {
    transform: translate(-50%, -50%) scale(1);
}

/* 팝업 닫기 버튼 */
.close-btn {
    position: absolute;
    top: 30px;
    right: 40px;
    font-size: 4.5rem;
    font-weight: 300;
    color: #ff1f22;
    cursor: pointer;
    z-index: 1010;
    transition: color 0.2s ease;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

/* 팝업 내 사례 버튼 */
.card-btn-inside {
    position: absolute;    
    top: 0;         
    left: 0;        
    font-size: 1.4rem;   
}

.modal-body {
    padding: 40px;
}

.modal-top-section {
    display: flex;
    align-items: end;
    gap: 40px;
}

.modal-top-left {
    position: relative;
    width: 200px;
}

.modal-main-img {
    width: 100%;
    height: auto;
    display: block;
}

.modal-top-right {
    flex: 1;
    text-align: left;
}

.modal-mid-section {
    display: flex;                 
    width: 100%;
    margin: 0; 
    gap: 40px;
}

.popUpBox{
    background-color: #ff1f22;
    margin: 0;
}

.modal-mid-section:last-child {
    align-items: center;
}

/* 스크롤 애니 */
.reveal {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

.reveal-hor {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 1s ease, transform 1s ease;
}

.reveal-hor.active {
    opacity: 1;
    transform: translateX(0);
}

.row{
    width: 1100px;
    display: flex;
    margin: 0 auto;
}

.lines {
    position: absolute;  
    top: 50px;
    left: 5%;
    width: 90%; 
    height: auto;
    max-width: 1000px;
    z-index: 1;
    animation: float 2s ease-in-out infinite;
    pointer-events: none;
}

.box1{
    position: absolute;    
    top: 235px;         
    left: 820px;    
    animation: blink-effect 3s ease-in-out infinite;
}

.box2{
    position: absolute;    
    top: 730px;         
    left: 80px;    
    animation: blink-effect 3.5s ease-in-out infinite;
}

.vision2{
    position: absolute;
    top: 960px;
    left: 14px;
    scale: 97%;
}

footer{
    height: 100px;
    background-image:linear-gradient( #ffffff00, rgba(99, 191, 216, 0.7));
    display: flex;
    justify-content: right;
    align-items: center;
}


img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.bgImg {
    max-width: 1100px;
    margin: 0 -2.0rem;
}

/* 칼럼 */
.col1{width: 16.66%; padding: 2.0rem;}
.col2{width: 33.33%; padding: 2.0rem;}
.col3{width: 50%; padding: 2.0rem;}
.col4{width: 66.66%; padding: 2.0rem;}
.col5{width: 83.33%; padding: 2.0rem;}
.col6{width: 100%; padding: 2.0rem;}

/* 여백 */
.h-0{height: 0px;}
.h-5{height: 5px;}
.h-15{height: 15px;}
.h-30{height: 30px;}
.h-50{height: 50px;}
.h-100{height: 100px;}
.h-150{height: 150px;}
.h-200{height: 200px;}
.h-300{height: 300px;}

/* 텍스트 */
.logo-text{
    font-family: 'Funnel Display', sans-serif;
    font-weight: 600;
    font-size: 2.6rem;
    user-select: none;
}

.text-mainTitle{
    font-family: 'Funnel Display', sans-serif;
    font-weight: 500;
    font-size: 6.0rem;
    line-height: 110%;
}

.text-subTitle{
    font-family: 'Funnel Display', sans-serif;
    font-weight: 500;
    font-size: 3.6rem;
    line-height: 120%;
}

.text-subTitleKr{
    font-family: 'Gothic A1', sans-serif;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 150%;
}

.text-sub2Title{
    font-family: 'Gothic A1', sans-serif;
    font-weight: 300;
    font-size: 1.7rem;
    line-height: 170%;
}

.text-menu{
    font-family: 'Funnel Display', sans-serif;
    font-weight: 500;
    font-size: 1.7rem;
}

.text-normal{
    font-family: 'Gothic A1', sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 170%;
    word-break: keep-all;
}

.text-popUpNormal{
    font-family: 'Gothic A1', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 170%;
    word-break: keep-all;
    margin: -20px;
}

.text-popUpTitle {
    font-family: 'Funnel Display', sans-serif;
    font-weight: 500;
    font-size: 2.8rem;
    margin-bottom: 10px;
}

.text-popUpSubTitle {
    font-family: 'Funnel Display', sans-serif;
    font-weight: 500;
    font-size: 2.0rem;
    margin-bottom: 10px;
}

.pop-info-text {
    font-family: 'Gothic A1', sans-serif;
    font-size: 1.6rem;
    line-height: 170%;
    font-weight: 400;
}

.text-popUpGraph {
    font-family: 'Gothic A1', sans-serif;
    font-size: 1.6rem;
    line-height: 170%;
    font-weight: 500;
    color: white;
}

.text-word{
    font-family: 'Gothic A1', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 170%;
    word-break: keep-all;
}

.text-bg {
    font-family: 'Funnel Display', sans-serif;
    font-size: 1.6rem;
    line-height: 170%;
    font-weight: 600;
    color: rgba(255, 31, 35, 0.3);
}


.text-footer{
    font-family: 'Funnel Display', sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    color: rgb(116, 116, 116);
}

.t-white{color: white;}
.t-red{color: #ff1f22;}

.t-center{text-align: center;}
.t-right{text-align: right;}
